<%- include('header') -%>
<%- include('menu') -%>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2><%= nagymama.nev %> befőttjei:</h2>
            <table class="table table-striped table-bordered">
                <tr>
                    <th>
                        Íz
                    </th>
                    <th>
                        Évjárat
                    </th>
                    <th>
                        Az unokák szerint...
                    </th>
                    <th>
                        &nbsp;
                    </th>
                </tr>
                <% befottek.forEach(function(egyBefott){ %>
                    <tr>
                        <td>
                            <%= egyBefott.iz %>
                        </td>
                        <td>
                            <%= egyBefott.ev %>
                        </td>
                        <td>
                            <%= egyBefott.rating %>
                        </td>
                        <td style="width:30px;white-space: nowrap">
                            <a href="/befott/<%= nagymama._id %>/edit/<%= egyBefott._id %>"
                               class="btn btn-sm btn-primary"><i
                                        class="far fa-edit"></i></a>
                            <a href="/befott/<%= nagymama._id %>/del/<%= egyBefott._id %>"
                               class="btn btn-sm btn-danger"><i
                                        class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                <% }); %>
            </table>
            <br/>
            <a href="/befott/<%= nagymama._id %>/new" class="btn btn-block btn-primary">Új befőtt hozzáadása</a>
        </div>
    </div>
</div>

<%- include('footer') -%>
