<%- include('header') -%>
<%- include('menu') -%>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Nagymama
                <% if (typeof nagymama === 'undefined') { %>
                    létrehozás
                <% }else{ %>
                    módosítás
                <% } %>
            </h2>
            <form method="POST">
                <div class="form-group">
                    <label for="nev">Név</label>
                    <input type="text" class="form-control" id="nev" name="nev"
                           value="<%= (typeof nagymama === 'undefined') ? '' : nagymama.nev %>">
                </div>
                <div class="form-group">
                    <label for="nev">Cím</label>
                    <input type="text" class="form-control" id="cim" name="cim"
                           value="<%= (typeof nagymama === 'undefined') ? '' : nagymama.cim %>">
                </div>
                <div class="form-group">
                    <label for="tel">Telefonszám</label>
                    <input type="text" class="form-control" id="tel" name="tel"
                           value="<%= (typeof nagymama === 'undefined') ? '' : nagymama.tel %>">
                </div>
                <input type="submit" class="btn btn-primary" value="Mentés"/>
                <a class="btn btn-link" href="/nagymama">Mégsem</a>
            </form>
        </div>
    </div>
</div>
<%- include('footer') -%>
